/* Tooltip container */
.crx_mouse_visited {
    position: relative;
    display: block;
  }
  
  /* Tooltip text */
  .crx_mouse_visited .popup {
    visibility: hidden;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    background-color: black;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .crx_mouse_visited:hover .popup {
    visibility: visible;
  }