/* Button modifiers */
.grade-button {
	position: relative;
	margin-left: 10px;
    margin-bottom: 4px;
    float: static;

	background-color: #3496E1;
	border-width: 1px;
	border-radius: 1px;
	border-color: #3496E1;	
	height: 14px;
	width: 26px;

	text-indent: 1px;
    font-size: 12px;
    color: black;
    font-weight: 700;
}

/* Popup modifiers */
.grade-container.show{
	display: block;
	top: 5px;
	left: -65px;
}

.grade-container.hide{
	display: none;
}

.grade-popup{
	position: relative;
	display: block;
	float: right;

    width: 130px;
    text-align: center;
}

/* Popup Grades Dist */
.grades-dist-table{
	margin-top: 5px;
	width:100%;
}
.grades-dist-table-title-cell{
	padding: 5px;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
}
.grades-dist-bar-cell{
	padding-right: 2px;
	padding-left: 2px;
}
.grades-dist-bar{
	position: relative;
	background-color: #3496E1;
	border-width: 1px;
	border-radius: 1px;
	border-color: #3496E1;	
}
.grades-dist-grade-label-cell{
	font-size: 10px;

}